/*CSS Reset*/
/*a way for the devs to remove any predefined margins and paddings set by the browser. This is to have less hassle in managing space that will be used for the layout of the webpage*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*using Google font "Open Sans" for styling body text*/
body{
	font-family: "Open Sans", sans-serif;
}
/*NAV SECTION*/
nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray ;
	list-style-type: none;

}
/*we can also select multiple selecotrs with the use of comma*/
nav .nav, nav .nav-logo {
	margin: .5rem;
	display: inline;
}

/*INFO SECTION*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*padding: 2rem 10% 15% 3rem;*/
			/* top right bottom left(order) */
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}
#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	/*allow cards to appear next to each other*/
	display: inline-block;
	/*align the elements at the top of their container*/
	vertical-align: top;
	min-height: 175px;
	/*each card will only use 30% if the screen size*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
}


/*FOOTER SECTION*/

footer{
	padding: .7rem;
}
footer span{
	margin-left: .5rem;
	margin-right: .5rem;
}