*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: "Open Sans", sans-serif;
}
/*NAV SECTION*/
nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray ;
	list-style-type: none;

}
/*we can also select multiple selecotrs with the use of comma*/
nav .nav, nav .nav-logo {
	margin: .5rem;
	display: inline;
}

/*INFO SECTION*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*padding: 2rem 10% 15% 3rem;*/
			/* top right bottom left(order) */
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}
#succeed-info h3{

	margin-bottom: 1rem;
}

#succeed-info .card{
	
	margin-bottom: 1rem;
	margin-top: 1rem;

}

/*PRE-FOOTER SECTION*/
#pre-footer{
	color: white;
	padding: 0.5rem 0.5rem;
	background-color: #0C304B;
}
#pre-footer h3{
	margin-bottom: 0.5rem;

}

#pre-footer .more{
	display: inline-block;
	vertical-align: bottom;
	margin: 1rem;
	width: 15%;
}



/*FOOTER SECTION*/

footer{
	padding: .7rem;
}
footer span{
	margin-left: .5rem;
	margin-right: .5rem;

}
